@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

html,
body {
  width: 100%;
  height: max-content;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background-color: var(--light-grayish-blue);
}

[hidden] {
  display: none !important;
  visibility: hidden !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
}
